.serivice_section {
  background: #eaf4fe;
  padding-bottom: 100px;
}
.service_div_main h6 {
  font-weight: 600;
  color: #06104e;
}
.service_div_main h3 {
  font-weight: 600;
  color: #050607;
  padding-bottom: 20px;
}
