.navbar_main {
  /* padding-top: 10px; */
}
.navbar_main img{
    width: 72px;
   
}
.navbar_main h4{
    font-size: 20px;
    font-weight: 800;
}
#nav_ul {
  padding-right: 30px;
  color: rgb(4, 4, 13);
  font-size: 16px;
}
#nav_ul:hover {
  color: #06104e;
  transition: 0.5s;
}
#button {
  background: #06104e;
}
