@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.button {
  padding-top: 20px;
  padding-bottom: 20px;
}
.button a {
  background-color: #06104e;
  color: #fff;
}
.button a:hover {
  background-color: #06104e;
  color: aqua;
  transition: 0.5s;
}
